<?
Array.each(
	arg.__models.main.data.arr_data,
	function(arr_singleValueAssignment, int_key) {
		var i;
		?>
		<div class="fields-container" data-misc-field-row-key="<?= int_key =?>">
			<?
			for(i = 0; i < arg.__models.options.data.int_numValuesPerRow; i++) {
				?>
				<input
						data-lsjs-element="assignmentInput"
						data-misc-row-number="<?= int_key =?>"
						data-misc-field-number="<?= i =?>"
						type="text"
						class="tl_text"
						value="<?= (arr_singleValueAssignment[i] !== undefined ? arr_singleValueAssignment[i] : '') =?>"
				>
				<?
			}
			?>
			<button type="button" data-lsjs-element="btn_copyRow"></button>
			<button type="button" data-lsjs-element="btn_delRow"></button>
			<button type="button" data-lsjs-element="btn_rowUp"></button>
			<button type="button" data-lsjs-element="btn_rowDown"></button>
		</div>
		<?
	}
);
?>