$ls-product-list-field-space: 2%;

#checkout-content {
  .cart-empty {
    @include ls_contentWrapper;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.3rem solid $ls-color-grey;
    margin-bottom: 3rem;
  }

  .submit-box {
    text-align: center;
  }

  .checkout-validation-error {
    border: 0.1rem solid $ls-color-red;
    padding: 2rem 2rem 2rem 7rem;
    margin: 2rem 0;
    background-color: rgba($ls-color-red, 5%);
    color: $ls-color-red;
    position: relative;
    min-height: 6rem;

    &::before {
      @extend .fas;
      content: fa-content($fa-var-exclamation-triangle);
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 2rem;
    }
  }

  .success {
    border: 0.1rem solid $ls-color-green;
    padding: 2rem 2rem 2rem 7rem;
    margin: 2rem 0;
    background-color: rgba($ls-color-green, 5%);
    color: $ls-color-green;
    position: relative;

    &::before {
      @extend .fas;
      content: fa-content($fa-var-exclamation-triangle);
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 2rem;
    }
  }

  .formReviewerApplied {
    &.formClosed {
      button.submit {
        display: none;
      }
    }
  }

  .formClosed {
    [data-lsjs-element="openFormToggler"] {
      font-size: 1.4rem;
      padding: 0.5rem;
      border: 0.1rem solid $ls-color-grey;
      background-color: $ls-color-white;
      color: $ls-color-black;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;

      &::before {
        @extend .fas;
        content: fa-content($fa-var-edit);
        margin-right: 0.5rem;
      }

      &::after {
        content: unset;
      }
    }
  }
}

#after-checkout-info-headline,
#info-for-payment-method,
#special-info-for-payment-method,
#info-for-shipping-method,
#special-info-for-shipping-method {
  @include ls_mediumContentWrapper;

  margin-top: 5rem;
  margin-bottom: 5rem;
}

#checkoutStepCart {
  :not(.my-orders) > & {
    @include ls_mediumContentWrapper;
  }

  margin-top: 5rem;
  margin-bottom: 5rem;
}

#checkoutStepCustomerDataReview,
#checkoutStepPaymentDataReview,
#checkoutStepShippingDataReview {
  :not(.my-orders) > & {
    @include ls_mediumContentWrapper;
  }

  margin-top: 5rem;
  margin-bottom: 5rem;

  @media screen and(min-width: 750px) {
    .content {
      @include ls_superNarrowContentWrapper;
    }
  }

  h4 {
    font-size: inherit;
    margin-bottom: 0;
    font-weight: $ls-font-weight-bold;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

#checkoutStepFinalConfirmation {
  @include ls_narrowContentWrapper;

  .widget-submit {
    text-align: center;

    button.submit {
      font-size: 2rem;
    }
  }
}

#checkoutStepCalculation {
  :not(.my-orders) > & {
    @include ls_mediumContentWrapper;
  }

  margin-top: 5rem;
  margin-bottom: 5rem;

  .field-group {
    margin: 3rem 0;
  }

  .field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

  .field-content {
    &.ls_invoiced-amount {
      font-weight: bold;
      font-size: 2.24rem;
    }
  }

  .field-label {
    &.ls_invoiced-amount {
      font-weight: bold;
      font-size: 2.24rem;
    }
  }

  .field-description {
    width: 100%;
  }

  .coupons {
    &[data-misc-highlighted="no"] {
      .hideWhenNotHighlighted {
        display: none;
      }
    }

    .field-description {
      font-size: 85%;
    }

    .formUseCoupon {
      display: flex;
      position: relative;

      .flexWidget.coupon-code {
        label {
          display: none;
        }
        input {
          width: 15rem;
          margin-right: 1rem;
        }
        .errors {
          position: absolute;
        }
      }

      button {
        font-size: 1.4rem;
        padding: 0.5rem;
        border: 0.1rem solid $ls-color-grey;
        background-color: $ls-color-white;
        color: $ls-color-black;

        &::before {
          @extend .fas;
          content: fa-content($fa-var-check);
          margin-right: 0.5rem;
        }
      }
    }

    .delete-coupon {
      font-size: 1.4rem;
      padding: 0.5rem;
      border: 0.1rem solid $ls-color-grey;
      background-color: $ls-color-white;
      color: $ls-color-black;
      margin-left: 1rem;

      &::before {
        @extend .fas;
        content: fa-content($fa-var-trash);
        margin-right: 0.5rem;
      }
    }
  }

  @media screen and(min-width: 750px) {
    #calculation {
      @include ls_superNarrowContentWrapper;
    }
  }
}

#checkoutStepLogin {
  @include ls_mediumContentWrapper;

  margin-top: 5rem;
  margin-bottom: 5rem;
}

#checkoutStepCustomerData {
  @include ls_mediumContentWrapper;

  margin-top: 5rem;
  margin-bottom: 5rem;

  .widget.deviant-shipping-address-checkbox {
    margin-bottom: 3rem;
  }
}

#checkoutStepShipping,
#checkoutStepPayment {
  @include ls_mediumContentWrapper;

  margin-top: 5rem;
  margin-bottom: 5rem;

  .paymentAndShippingOptionContainer {
    > a {
      display: flex;

      .shipping-payment-image {
        margin-right: 1rem;
      }

      .shipping-payment-info {
        .title {
          font-weight: $ls-font-weight-bold;
        }
      }
    }
  }

  .formReviewerApplied.formClosed {
    position: relative;
    padding-top: 5rem;
  }
}

.order-overview {
  .product-list {
    .product {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      &:not(:last-child) {
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid $ls-color-grey;
        margin-bottom: 2rem;
      }

      .edit-item-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color: #FFFFFFEE;

        .inside {
          display: flex;
          justify-content: center;
        }

        .close-edit-item {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 2.5rem;
          color: $ls-color-black;
          cursor: pointer;

          &::before {
            @extend .fas;
            content: fa-content($fa-var-times);
            margin-right: 0.5rem;
          }
        }

        form.form-quantity {
          display: flex;
          position: relative;

          label {
            font-weight: $ls-font-weight-bold;
          }

          input[name="quantity_item"] {
            width: 10rem;
            text-align: right;
          }

          .errors {
            position: absolute;
          }

          button {
            font-size: 1.4rem;
            padding: 0.5rem;
            border: 0.1rem solid $ls-color-grey;
            background-color: $ls-color-white;
            color: $ls-color-black;
            margin-left: 1rem;

            &::before {
              @extend .fas;
              content: fa-content($fa-var-check);
            }
          }
        }

        form.form-delete {
          display: flex;
          position: relative;

          button {
            font-size: 1.4rem;
            padding: 0.5rem;
            border: 0.1rem solid $ls-color-grey;
            background-color: $ls-color-white;
            color: $ls-color-black;
            margin-left: 1rem;

            &::before {
              @extend .fas;
              content: fa-content($fa-var-trash);
            }
          }
        }
      }

      &[data-misc-changequantitymode="yes"] {
        .edit-item-box {
          display: block;
        }
      }

      .field-label {
        font-weight: $ls-font-weight-bold;
        font-size: 1.3rem;
        text-align: right;
      }

      .field-content {
        text-align: right;
        white-space: nowrap;
      }

      .product-title {
        font-size: 2rem;

        .variant-title {
          font-size: 80%;
        }
      }

      .image {
        width: 18% - $ls-product-list-field-space;
        margin-right: $ls-product-list-field-space;

        img {
          max-height: 11rem;
        }
      }

      .name-and-description {
        width: 25% - $ls-product-list-field-space;
        margin-right: $ls-product-list-field-space;
        position: relative;
        padding-bottom: 5rem;

        .edit-item {
          position: absolute;
          bottom: 0;
          font-size: 1.4rem;
          padding: 0.5rem;
          border: 0.1rem solid $ls-color-grey;
          background-color: $ls-color-white;
          color: $ls-color-black;

          &::before {
            @extend .fas;
            content: fa-content($fa-var-edit);
            margin-right: 0.5rem;
          }
        }
      }

      .price-single {
        width: 16% - $ls-product-list-field-space;
        margin-right: $ls-product-list-field-space;
      }

      .quantity {
        width: 16% - $ls-product-list-field-space;
        margin-right: $ls-product-list-field-space;
      }

      .price-cumulative {
        width: 16% - $ls-product-list-field-space;
        margin-right: $ls-product-list-field-space;
      }

      .tax-class {
        width: 9%;
        margin-right: 0;
      }

      @media screen and(min-width: 600px) and(max-width: 990px) {
        .name-and-description {
          padding-right: 15rem;

          .edit-item {
            right: 0;
            bottom: unset;
            top: 0;
          }
        }
      }

      @media screen and(max-width: 990px) {
        .image {
          width: 30% - $ls-product-list-field-space;
          margin-right: $ls-product-list-field-space;
          margin-bottom: 2rem;
        }

        .name-and-description {
          width: 70%;
          margin-right: 0;
          margin-bottom: 2rem;

          .edit-item {
            right: 0;
          }
        }

        .price-single {
          width: 25% - $ls-product-list-field-space;
          margin-right: $ls-product-list-field-space;
        }

        .quantity {
          width: 25% - $ls-product-list-field-space;
          margin-right: $ls-product-list-field-space;
        }

        .price-cumulative {
          width: 25% - $ls-product-list-field-space;
          margin-right: $ls-product-list-field-space;
        }

        .tax-class {
          width: 25%;
          margin-right: 0;
        }
      }

      @media screen and(max-width: 600px) {
        .price-single,
        .quantity,
        .price-cumulative,
        .tax-class {
          width: 100%;
          margin-right: 0;
          margin-bottom: 1rem;
          display: flex;
        }

        .field-label {
          font-weight: $ls-font-weight-bold;
          font-size: inherit;
          text-align: left;
          width: 50%;
        }

        .field-content {
          text-align: right;
          width: 50%;
        }
      }
    }
  }
}