.favoriteSwitchBox {
  form {
    margin: 0;
    padding: 0;
  }

  button {
    &::before {
      @include fa-icon;
      @include fas;
      content: $fa-var-heart;
    }

    .button-content {
      display: none;
    }
  }

  &.is-favorite {
    button {
      &::before {
        color: $ls-color-1;
      }
    }
  }
}

.productList {
  .favoriteSwitchBox {
    button {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
    }
  }
}