h1.main_headline {
	padding-bottom: 148px;
	background-image: url("../images/beModuleHeader/headerLicensed.jpg");
	background-repeat: no-repeat;
	background-position: 0px bottom;
	position: relative;
}

#merconisLink {
	display: block;
	position: absolute;
	top: 30px;
	left: 530px;
	height: 30px;
	width: 170px;
}

#merconisForumLink {
	display: block;
	position: absolute;
	top: 60px;
	left: 530px;
	height: 30px;
	width: 197px;
}